# Collections (the complex data types)

- sets
- tuples
- lists
- dictionaries
- combine collections

In [105]:
# set
# no duplicates, no indexed (no order), iterable, collection, mutable (can change)

set1 = {"Ben", "Jason", "Darlene", "Jason", "Erin"}
set_declared = set(("Ben", "Jason", "G", "G", "Darlene"))

print(f"set1 = {set1}")
print(f"set_declared = {set_declared}")

set1 = {'Erin', 'Jason', 'Ben', 'Darlene'}
set_declared = {'Darlene', 'G', 'Ben', 'Jason'}

In [106]:
# Method to find overlaps

overlaps =  set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [107]:
# Method to find differences between two sets

diff = set1.difference(set_declared)
diff

{'Erin'}

In [108]:
set1.add("Halle")
set1

{'Ben', 'Darlene', 'Erin', 'Halle', 'Jason'}

In [109]:
set1.remove("Darlene")
set1

{'Ben', 'Erin', 'Halle', 'Jason'}

In [110]:
# Tuple
# non-mutable, duplicates, iterable, indexed

tuple1 = (1,2,3,4)
tuple_declared = tuple((3,4,5,6))

print (f"tuple1 = {tuple1}")
print (f"tuple_declared = {tuple_declared}")

tuple1 = (1, 2, 3, 4)
tuple_declared = (3, 4, 5, 6)

In [111]:
tuple1 = (1,2,3,4,5) # overwritng not changing
tuple1

(1, 2, 3, 4, 5)

In [112]:
tuple1.count(2) # counts occurences of a value

1

In [113]:
tuple1.index(1) # return index of value

0

In [114]:
print(f"tuple1 = {tuple1}")
tuple1[0] # return value at index 0

tuple1 = (1, 2, 3, 4, 5)

1

In [115]:
# list
# mutable, duplicates, indexed, iterable

list1 = ["G", "G", "Paola", "Emil"]
list_declared = list(("G", "G", "Paola", "Emil"))

print(f"list1 = {list1}")
print(f"list_declared = {list_declared}")

list1 = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [116]:
# index notation [:]

print(f"list1 = {list1}")
print(f"first index = {list1[0]}")
print (f"last item in list1 = {list1[-1]}")
print(f"series between 2 & 3 items = {list1[1:3]}") # second item is exclusive
print(f"everything before index 3 = {list1[:3]}")
print(f"everything after the first = {list1[1:]}")

list1 = ['G', 'G', 'Paola', 'Emil']
first index = G
last item in list1 = Emil
series between 2 & 3 items = ['G', 'Paola']
everything before index 3 = ['G', 'G', 'Paola']
everything after the first = ['G', 'Paola', 'Emil']

In [117]:
# list methods

added = list1.append("Clare") # add to list
list2 = list1.append("Nathan")
print(f"appended Clare = {list1}") #append does not return a list
print(f"created list2 = {list2}")

removed = list1.pop() # remove
print(f"Removed {removed}. New list1 is {list1}")

list1[1] = "J" # change index
print(f"Index 1 of list1 changed. New list1 = {list1}")

combined_list1 = [list1, list_declared] # combine lists as lists
print(f"Combined list = {combined_list1}")

combined_lists = [*list1, *list_declared] #combine lsits into one list
print(f"Combined lists into 1: {combined_lists}")

list1.extend(list_declared) # combine lists one list
print(f"list1 after extension = {list1}")

appended Clare = ['G', 'G', 'Paola', 'Emil', 'Clare', 'Nathan']
created list2 = None
Removed Nathan. New list1 is ['G', 'G', 'Paola', 'Emil', 'Clare']
Index 1 of list1 changed. New list1 = ['G', 'J', 'Paola', 'Emil', 'Clare']
Combined list = [['G', 'J', 'Paola', 'Emil', 'Clare'], ['G', 'G', 'Paola', 'Emil']]
Combined lists into 1: ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']
list1 after extension = ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']

In [118]:
# Dictionary
# key:value, indexed by key, not ordered, duplicate values but not keys, mutubale
#{key: value, key1: value}

dict1 = {"name": "Nathan", "age": 39}
dict_decalred = dict(name="Nathan", age=39) #we never do this

print(dict_decalred)
dict1

{'name': 'Nathan', 'age': 39}

{'name': 'Nathan', 'age': 39}

In [119]:
dict1["name"] # updateget values

'Nathan'

In [120]:
dict1["name"] = "Nate" # change values
dict1

{'name': 'Nate', 'age': 39}

In [121]:
dict1.keys()

dict_keys(['name', 'age'])

In [122]:
dict1.values()

dict_values(['Nate', 39])

In [123]:
students = [
    {"name": "G", "age": 18},
    {"name": "Stacy", "age": 18},
    {"name": "John", "age": 21},
]
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'John', 'age': 21}]

In [124]:
students[1] #get name of second student

{'name': 'Stacy', 'age': 18}

In [125]:
students[2]["name"]

'John'

In [126]:
students.pop()

{'name': 'John', 'age': 21}

In [127]:
students.append({"name": "Nate", "age": 24})
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nate', 'age': 24}]

In [128]:
students[2]["name"] = "Nathan"
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nathan', 'age': 24}]

In [129]:
dict1 ["name"] = "Bozo"
dict1

{'name': 'Bozo', 'age': 39}