In [33]:
import pandas as pd

url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/soccer-players.csv"
df = pd.read_csv(url)

df.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [34]:
def convert_height(cm) -> float:
    """
    convert cm to feet
    
    Args:
        cm (int): the Num of cm
    Returns:
        feet (floa): num of feet
    """
    return (cm * 0.393701) / 12

In [35]:
df["height_in_ft"] = df["height_in_cm"].apply(convert_height)
df["height_in_ft"]

0        6.036749
1        6.233599
2             NaN
3             NaN
4        6.364833
           ...
32398    5.839898
32399    5.905515
32400    5.380580
32401         NaN
32402         NaN
Name: height_in_ft, Length: 32403, dtype: float64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32403 entries, 0 to 32402
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32403 non-null  int64
 1   first_name                            30345 non-null  object
 2   last_name                             32403 non-null  object
 3   name                                  32403 non-null  object
 4   last_season                           32403 non-null  int64
 5   current_club_id                       32403 non-null  int64
 6   player_code                           32403 non-null  object
 7   country_of_birth                      29600 non-null  object
 8   city_of_birth                         29942 non-null  object
 9   country_of_citizenship                32023 non-null  object
 10  date_of_birth                         32356 non-null  object
 11  sub_position                          32218 non-null  object
 12  position                              32403 non-null  object
 13  foot                                  29810 non-null  object
 14  height_in_cm                          30059 non-null  float64
 15  contract_expiration_date              20272 non-null  object
 16  agent_name                            16388 non-null  object
 17  image_url                             32403 non-null  object
 18  url                                   32403 non-null  object
 19  current_club_domestic_competition_id  32403 non-null  object
 20  current_club_name                     32403 non-null  object
 21  market_value_in_eur                   30869 non-null  float64
 22  highest_market_value_in_eur           30869 non-null  float64
 23  height_in_ft                          30059 non-null  float64
dtypes: float64(4), int64(3), object(17)
memory usage: 5.9+ MB

In [37]:
df.describe()

,player_id,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur,height_in_ft
count,3.240300e+04,32403.000000,32403.000000,30059.000000,3.086900e+04,3.086900e+04,30059.000000
mean,3.445789e+05,2019.337777,4809.252045,182.291161,1.611350e+06,3.675045e+06,5.980684
std,2.806831e+05,3.965914,11601.982978,6.971224,6.362017e+06,9.653897e+06,0.228715
min,1.000000e+01,2012.000000,3.000000,17.000000,1.000000e+04,1.000000e+04,0.557743
25%,1.066980e+05,2016.000000,403.000000,178.000000,1.000000e+05,2.750000e+05,5.839898
50%,2.824210e+05,2020.000000,1071.000000,183.000000,2.500000e+05,8.000000e+05,6.003940
75%,5.242085e+05,2023.000000,3060.000000,187.000000,7.000000e+05,2.800000e+06,6.135174
max,1.309800e+06,2024.000000,110302.000000,207.000000,2.000000e+08,2.000000e+08,6.791342

In [38]:
df["height_in_cm"].std()

6.971224376399549

In [39]:
df["height_in_ft"].var()
df["height_in_ft"].std()

0.22871483401772097

In [40]:
df["height_in_ft"].mean()

np.float64(5.980684355462036)

In [41]:
df["height_in_cm"].median()

183.0

In [42]:
df["height_in_cm"].mode(0)[0]

np.float64(nan)

In [43]:
df["height_in_cm"].quantile(.33)

np.float64(179.0)

In [44]:
df["height_in_cm"].min()

17.0

In [45]:
df["height_in_cm"].max()

207.0

In [46]:
range = df["height_in_cm"].max() - df["height_in_cm"].min()
range

190.0

In [47]:
df["height_in_cm"].skew()

np.float64(-1.7751475048518246)

In [48]:
from scipy import stats

sk = stats.skew(df["height_in_cm"], nan_policy="omit")
sk

np.float64(-1.7750589204621978)

In [49]:
df["height_in_cm"].kurt()

np.float64(40.3723954752419)

In [50]:
def eda(df) -> None:
    """
    Evaluate basic statistics on a Dataframe
    
    Args:
        df (Pandas.DataFrame): DataFrame to ecaluate
    Returns:
        None
    """
    print(f"{'='*5}DF Shape: {df.shape}{'='*5}")
    num_cols = []
    cat_cols = []
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            num_cols.append(col)
        else:
            cat_cols.append(col)
            
    print(f"{'*'*3}Numeric Columns{'*'*3}")
    for col in num_cols:
        print(col)
        print(f"\tMin: {df[col.min()]}")
        print(f"\tMax: {df[col.max()]}")

In [51]:
eda(df)

=====DF Shape: (32403, 24)=====
***Numeric Columns***
player_id

AttributeError: 'str' object has no attribute 'min'